.Lesson {
  display: flex;
  justify-content: center; }
  .Lesson-Paper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw; }

.Paper-TextField {
  display: flex;
  justify-content: center;
  align-items: center; }
